if SHIELD_IJSKEGEL54_LEFT

config ZMK_KEYBOARD_NAME
    default "ijskegel54"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_IJSKEGEL54_LEFT

if SHIELD_IJSKEGEL54_LEFT || SHIELD_IJSKEGEL54_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_IJSKEGEL54_LEFT || SHIELD_IJSKEGEL54_RIGHT
